<div class="alert alert-primary" role="alert">
    <table class="carrito" style="position: absolute; top: 9%; left: 82%;  height: 70%;">
        <thead style="background-color: #3A1B78; color: #ffffff;">
            <tr>
                <th scope="row" colspan="3" class="text-center">CARRITO</th>
    {% if profiles.group_id 1 ==  or profiles.group_id == 4 %}
            </tr>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Precio</th>
                <th scope="col">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.acumulado}}</td>
                <td>{{value.cantidad}}
                    <a href="{% url 'Add' value.producto_id  %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'Sub' value.producto_id  %}" class="badge btn btn-dark badge-dark">-</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-danger">Sin Productos</div>
                </td>
            </tr>
            {% endif %}
        </tbody>
    </table>
    <div class="col-12 col-sm-3 mb-3"  style="margin-bottom: 25px;">
        <div class="col-12" style="margin-bottom: 25px;"></div>
        <a href="{% url 'cliente_lista_activo' %}" class="button form-control" style="position: absolute; top: 90%; left: 85%;" >Escoger cliente </a>
        <label style="position: absolute; top: 84%; left: 85%;">
            TOTAL:
            ${{total_carrito}}
        </label>
    </div> 
    <div class="row text-center">
        <div class="col-6" style="position: absolute; top: 87%; left: 90%;">
            <a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a>
        </div>

    </div>
</div>
    {% endif %}