<div class="alert alert-primary" role="alert">
    <table class=" table table-bordered">
        <thead>
            <tr>
                <th scope="row" colspan="3" class="text-center">CARRITO</th>
            </tr>
            <tr>
                <th scope="col"> Nombre</th>
                <th scope="col"> Precio</th>
                <th scope="col"> Cantidad</th>
            </tr>

        </thead>
        <tbody>
            {% if request.session.carrito.items %}
            {% for key, value in request.session.carrito.items %}
            <tr>
                <td>{{value.nombre}}</td>
                <td>{{value.precio}}</td>
                <td>{{value.acumulado}}
                    <a href="{% url 'Add' value.producto_id %}" class="badge btn btn-dark badge-dark">+</a>
                    <a href="{% url 'Sub' value.producto_id %}" class="badge btn btn-dark badge-dark">-</a>
                </td>
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td colspan="3">
                    <div class="alert alert-danger text-danger">Sin Productos</div>
                </td>
            </tr>
            {% endif %}
            <tr>
                <th scope="row">TOTAL:</th>
                <td colspan="2"> ${{total_carrito}}</td>
            </tr>
        </tbody>
    </table>
    <hr>
    <div class="rom text-center">
        <div class="col-6"> <a href="{% url 'CLS' %}" class="btn btn-danger">Limpiar</a></div>
        <!--acá redirige a finalizar la compra-->
        <div class="col-6"> <a href=" " class="btn btn-success"></a></div>
    </div>
</div>