{% load static %}

<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a la Tienda</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <h1> Tienda</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <div class="row" style="padding: 10px 0;">
                    <div class="col-12">
                        <div class="row">
                            productos
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-4">
                carrito
            </div>
        </div>
    </div>

</body>

</html>