{% extends 'core/base_admin.html' %}
{% load static %}  { # se carga css, imagenes y js# }
{% block content %}
{% block extrahead %}
{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <div class="col-12 col-sm-8 mb-3" style="position: absolute; top: 10%; left: 15%; width: 30%; height: 10%;">
                    <h2 class='h2 medium text-blue'>Listado de Clientes </h2>
                </div>
                <div class="row mt-4 mb-4">
                    <div class="col-12 col-sm-3 mb-3" style="margin-bottom: 25px;">
                        
                        <a href="{% url 'cliente_lista_activo' %}" class="button form-control" style="position: absolute; top: 30%; left: 14%;">Activos</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3" style="margin-bottom: 25px;" >
                        <a href="{% url 'cliente_lista_bloqueado' %}" class="button form-control" style="position: absolute; top: 40%; left: 14%;">Bloqueados</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3" style="margin-bottom: 25px;">
                        <a href="{% url 'venta_main' %}" class="button button--gray form-control" style="position: absolute; top: 20%; left: 14%;">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
