{% extends 'core/base_admin.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
{% block extrahead %}
<script>
    function confirmarCambio(event) {
        // Mostrar la alerta de confirmación
        var confirmacion = confirm("¿Estás seguro de que deseas realizar este cambio?");
    
        // Si el usuario no confirma, prevenir la acción por defecto
        if (!confirmacion) {
            event.preventDefault();
            alert("Cambio cancelado.");
        } else {
            alert("Cambio realizado exitosamente.");
        }
    }
</script>
{% endblock %}
<header class='mb-5'>

    <div class="row"class="col-md-11"style="position: absolute; top: 10%; left: 15%; width: 40%; height: 10%;">
        <div class="col-12 col-sm-8 mb-3">
            <h2 class='h2 medium text-blue'>Listado de Clientes Bloqueados </h2>
        </div>
    </div>
    <div style="position: absolute; top: 90%; left: 15%; width: 10%; height: 1%;">
        <a href="{% url 'cliente_lista_activo' %}" class="button button--gray form-control custom-button">Volver</a>
    </div>
</header>
<div class="d-flex flex-column flex-lg-row my-5" style="position: absolute; top: 21%; left: 15%; width: 50%; height: 6%;">
    <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
        <div class="feedback body--small normal"></div>
    </div>
    <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
        {% csrf_token %}
        <input name="search" id="search" type="text" placeholder='Buscar por Rut, Primer Nombre'/>
        <button type="submit" class="button button--gray">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
        
    <form>       
</div>
<div class="col-md-11" style="position: absolute; top: 30%; left: 15%; width: 83%; height: 1%;">
    <table class="table table-user">
        <thead style="background-color: #3A1B78; color: #ffffff;">
        <thead style="background-color: #3A1B78; color: #ffffff;">
            <tr>
                <th width="1%" scope="col">Rut Cliente</th>
                <th width="1%" scope="col">Nombre Completo</th>
                <th width="1%" scope="col">Correo</th>
                <th width="1%" scope="col">Número Telefónico</th>
                {% if profiles.group_id == 1 %}
                    <th width="1.5%" scope="col">Funciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in cliente_list %}
                <tr style="background-color: lightgray; font-size: medium;">
                    <td scope="row">{{s.rut_cliente}}</td>
                    <td scope="row">{{s.nombre_cliente}}</td>
                    <td scope="row">{{s.correo_cliente}}</td>
                    <td scope="row">{{s.telefono_cliente}}</td>
                    {% if profiles.group_id == 1 %}      
                        <td style="background-color: lightgray; font-size: medium;">
                            <a href="{% url 'ver_cliente' s.id %}" title="Ver Cliente" class="user-action">
                                <i class="fa-solid fa-eye"></i> 
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'cliente_activate' s.id %}" title="Activar Cliente" class="user-action">
                                <i class="fa-solid fa-person"></i> 
                            </a>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="{% url 'cliente_delete' s.id %}" title="Eliminar Cliente" class="user-action">
                                <i class="fas fa-ban"></i>
                            </a>
                        </td>
                    {% endif %}                           
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <!-- Paginación -->
        {% if paginator.num_pages > 1 %}
            <div class="d-flex">
                <nav aria-label="Page navigation example" class="ms-auto">
                    <ul class="pagination pagination-table">
                        {% if cliente_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ cliente_list.previous_page_number}}&search={{search}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                            </li>                        
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if i >= page|sub:2  and i < page|add:3  %}
                                <li class="page-item {% if cliente_list.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                                </li>                        
                            {% endif %}
                        {% endfor %}
                        {% if cliente_list.has_next %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ cliente_list.next_page_number }}&search={{search}}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}  
    <!-- Paginación -->   
{% endblock %}
