{% extends 'core/base_admin.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
{% block extrahead %}
<script>
    function confirmarCambio(event) {
        // Mostrar la alerta de confirmación
        var confirmacion = confirm("¿Estás seguro de que deseas realizar esta acción?");
    
        // Si el usuario no confirma, prevenir la acción por defecto
        if (!confirmacion) {
            event.preventDefault();
            alert("Cambio cancelado.");
        } else {
            alert("Cambio realizado exitosamente.");
        }
    }
</script>
{% endblock %}
<header class='mb-5'>
    <div class="row" >
        <div class="col-12 col-sm-8 mb-3" style="position: absolute; top: 10%; left: 15%; width: 30%; height: 10%;">
            <h2 class='h2 medium text-blue'>Listado de Clientes activos </h2>
        </div>
        <div class="col-12 col-sm-4 mb-3">
            <a href="{% url 'cliente_lista_principal' %}" class="button button--gray form-control">Volver</a>
        </div>
    </div>
    <div class="d-flex flex-column flex-lg-row mt-2">
        <p class='body--normal text-gray'>

        </p>
    </div>

</header>
<div class="d-flex flex-column flex-lg-row my-5">
    <div class="my-auto d-flex flex-column flex-lg-row ms-lg-auto">
        <div class="feedback body--small normal"></div>
    </div>
    <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3'>
        {% csrf_token %}
        <input name="search" id="search" type="text" placeholder='Buscar por Rut, Primer Nombre'/>
        <button type="submit" class="button button--gray">
            <span class="material-icons-outlined">
                search
            </span>
        </button>
        
    <form>       
</div>
<div class="table-container mt-5" style="position: absolute; top: 30%; left: 15%; width: 80%; height: 1%;">
    <table class="table table-user">
        <thead  style="background-color: #3A1B78; color: #ffffff;">
            <tr>
                <th width="20%" scope="col">Rut Cliente</th>
                <th width="30%" scope="col">Nombre Completo</th>
                <th width="30%" scope="col">Correo</th>
                <th width="30%" scope="col">Número Telefónico</th>
                {% if profiles.group_id == 1 or profiles.group_id == 3 %}
                    <th width="15%" scope="col">Funciones</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in cliente_list %}
                <tr>
                    <th scope="row">{{s.rut_cliente}}</th>
                    <th scope="row">{{s.nombre_cliente}}</th>
                    <th scope="row">{{s.correo_cliente}}</th>
                    <th scope="row">{{s.telefono_cliente}}</th>      
                    {% if profiles.group_id == 1 %}
                    <th scope="row">
                        <a href="{% url 'ver_cliente' s.id %}">
                            Ver Cliente
                        </a>
                        </th>        
                    <th scope="row">
                            
                                <a href="{% url 'edit_cliente' s.id %}">
                                    Edita Cliente
                                </a>
                            </th>
                            <th scope="row">
                            
                                <a href="{% url 'cliente_lista_venta' s.id %}">
                                    Historial ventas
                                </a>
                            </th>
                            {% if request.session.carrito.items %}
                            <th scope="row">
                            
                                <a href="{% url 'finalizar_venta' s.id %}" onclick="confirmarCambio(event);">
                                    Finalizar venta
                                </a>
                            </th>
                            {% endif %}
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <th scope="row">
                                        <a href="{% url 'cliente_block' s.id %}" onclick="confirmarCambio(event);">
                                            Bloquea Cliente
                                        </a>
                                    </th>
                            
                        </th>   
                    {% endif %}                            
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- Paginación -->
        {% if paginator.num_pages > 1 %}
            <div class="d-flex">
                <nav aria-label="Page navigation example" class="ms-auto">
                    <ul class="pagination pagination-table">
                        {% if cliente_list.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ cliente_list.previous_page_number}}&search={{search}}" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                            </li>                        
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if i >= page|sub:2  and i < page|add:3  %}
                                <li class="page-item {% if cliente_list.number == i %}active{% endif %}">
                                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                                </li>                        
                            {% endif %}
                        {% endfor %}
                        {% if cliente_list.has_next %}
                            <li class="page-item ">
                                <a class="page-link" href="?page={{ cliente_list.next_page_number }}&search={{search}}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        {% endif %}  
    <!-- Paginación -->   
{% endblock %}
