{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="row"class="col-md-11"style="position: absolute; top: 10%; left: 15%; width: 30%; height: 10%;">
            <h3 class='h2 medium text-blue'>Gestion de ventas</h3>
        </div>
        {% if profiles.group_id == 1 or profiles.group_id == 4 %}
        <div style="position: absolute; top: 20%; left: 15%; width: 15%; height: 1%;">
            <a href="{% url 'cliente_lista_activo' %}" class="button button--gray form-control custom-button">Lista de Clientes</a>
        </div>
        <div style="position: absolute; top: 30%; left: 15%; width: 15%; height: 1%;">
            <a href="{% url 'tienda' %}" class="button button--gray form-control custom-button">Crear Venta</a>
        </div>
        {% endif %}
        <div style="position: absolute; top: 90%; left: 15%; width: 10%; height: 1%;">
            <a href="{% url 'list_user_active2' %}" class="button button--gray form-control custom-button">Volver</a>
        </div>
    </main>
{% endblock %}
