{% extends 'core/base_admin.html' %}
{% load static %}  { # se carga css, imagenes y js# }
{% block content %}
{% block extrahead %}
{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <h3 class="col-12 col-sm-3 mb-3" style="font-size:3cap; position: absolute; top: 7%; left: 13.1%; width: 50%; height: 70%;">Listado Perfiles Generales  </h3> 
                <div class="row mt-4 mb-4">
                    <div class="col-12 col-sm-3 mb-3" style="position: absolute; top: 13%; left: 13.1%; width: 50%; height: 70%;">
                        <a href="{% url 'list_user_active2' %}" class="button form-control">Activos</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3" style="position: absolute; top: 19%; left: 13.1%; width: 50%; height: 70%;" >
                        <a href="{% url 'list_user_block2' %}" class="button form-control">Bloqueados</a>
                    </div>
                    <div class="col-12 col-sm-3 mb-3" style="position: absolute; top: 94%; left: 13.1%; width: 50%; height: 70%;">
                        <a href="{% url 'users_main' %}" class="button button--gray form-control">Volver</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
