{% extends 'core/base_admin.html' %}
{% load static %}

{% block content %}
{% block extrahead %}
<script>
    // Función para mostrar la alerta cuando se envía el formulario
    function mostrarAlerta() {
        alert("Creando Usuario...");
    }
</script>
{% endblock %}
    <main role="main">
        <div class="row"class="col-md-11"style="position: absolute; top: 10%; left: 15%; width: 30%; height: 10%;">
            <h3 class='h2 medium text-blue'>Nuevo Usuario</h3>
        </div>  
        <div class="col-md-11" style="position: absolute; top: 20%; left: 15%; width: 83%; height: 60%; background-color: #D9D9D9;border-radius: 50px;">
                <form action="" method="post" onsubmit="mostrarAlerta()">
                    {% csrf_token %}
                        <div class="col-12 col-sm-8 mb-3"style="position: absolute; top: 15%; left: 5%; width: 20%; height: 70%;">
                            <label for="rut" class="custom-label">Rut: </label>
                        </div>
                        <div class="col-12 col-sm-8 mb-3"style="position: absolute; top: 13%; left: 17%; width: 15%; height: 70%;">
                            <input type="text" name="rut" required oninput="checkRut(this)" autofocus maxlength="254" required id="id_rut" class="form-control border custom-input" placeholder="Rut (Ej: 17605812-2)"/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3"style="position: absolute; top: 15%; left: 54%; width: 20%; height: 80%;">
                            <label for="grupo" class="custom-label">Perfil: </label>
                        </div>
                        <div class="col-12 col-sm-4 mb-3"style="position: absolute; top: 13%; left: 63%; width: 15%; height: 80%;">
                            <select name="grupo" id="grupo" class="form-control border custom-input" required>
                                <option value="">----------</option>
                                {% for g in groups %}
                                <option value="{{g.id}}">{{g.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 35%; left: 5%; width: 20%; height: 30%;">
                            <label for="name" class="custom-label">Nombre: </label>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 33%; left: 17%; width: 15%; height: 30%;">
                            <input type="text" class="form-control border custom-input" id="name" name="name" autofocus maxlength="254" required/>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 55%; left: 5%; width: 20%; height: 30%;">
                            <label for="last_name" class="custom-label">Apellidos: </label>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 53%; left: 17%; width: 15%; height: 30%;">
                            <input type="text" class="form-control border custom-input" id="last_name1" name="last_name1" required/>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 75%; left: 5%; width: 20%; height: 30%;">
                            <label for="email" class="custom-label">Correo: </label>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 73%; left: 17%; width: 15%; height: 30%;">
                            <input type="email" class="form-control border custom-input" placeholder="nombre@autonoma.cl" name="email"/>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 55%; left: 54%; width: 20%; height: 30%;">
                            <label for="position" class="custom-label">Cargo: </label>
                        </div>
                        <div class="row col-md-11" style="position: absolute; top: 53%; left: 63%; width: 15%; height: 30%;">
                            <input type="text" class="form-control border custom-input" placeholder="Cargo" name="position" required/>
                        </div>
                    <div class="col-12 col-sm-6 mb-3"style="position: absolute; top: 117%; left: 85%; width: 15%; height: 10%;">
                        <input type="submit" value="Crear Usuario" class="button form-control">
                    </div> 
                    <div style="position: absolute; top: 117%; left: 0%; width: 12%; height: 10%;">
                        <a href="{% url 'list_user_active2' %}" class="button button--gray form-control custom-button">Volver</a>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}