{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
                    {% if profiles.group_id == 1%}   
                    {% endif %}
                        <div class="col-md-11" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); width: 50%; height: 5%; text-align: center;">
                            <i style="font-size: 250px; margin: auto;" class="fa-solid fa-bars-staggered"></i>
                            <div style="font-size: 100px;">Dashboard</div>
                        </div>
                        <div style="position: absolute; top: 10%; left: 15%; width: 12%; height: 10%;">
                            <a href="{% url 'list_user_active2' %}" class="button button--gray form-control custom-button">Listado de Usuarios</a>
                        </div>
    </main>
{% endblock %}
