{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
                    {% if profiles.group_id == 1%}   
                    {% endif %}
                    <div class="col-12 col-sm-3 mb-3" style="position: absolute; top: 10%; left: 15%; width: 10%; height: 10%;">
                            <div class="col-12" style="margin-bottom: 30px;"></div> 
                            <a href="{% url 'admin_dashboard' %}" class="button">Dashboard</a>
                        </div>
                        <div class="col-12 col-sm-3 mb-3" style="position: absolute; top: 16%; left: 15%; width: 10%; height: 10%;">
                            <div class="col-12" style="margin-bottom: 25px;"></div>
                            <a href="{% url 'list_main2' %}" class="button form-control">Listado</a>
                        </div>
    </main>
{% endblock %}
