{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>TU PANEL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons+Two+Tone" rel="stylesheet">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
</head>

<body>
    <nav id="sidebar" class='side-bar to-left'>
        <header class='my-xxl-4 my-1 mb-5'>
            <div class="mb-3" style="background-color: #6E30E8; height: 65px; display: flex; align-items: center;">
                <div style="border-radius: 20px; overflow: hidden; display: inline-block;">
                    <img src="{% static 'assets/img/logo.jpg' %}" class="img" width="75" height="65">
                </div>
                <span style="color: rgb(255, 255, 255); font-size: 30px;">Computech</span>
            </div>
            </div>
            

            
        </header>
        <div class='menu' style="background-color:#270F57; width: 13%;height: 100vh;">
            <!--=== Menu Administrador ===-->
            {% if template_name == 'admin_main.html' %}
            <a href="{% url 'users_main' %}" class='item active'style="margin-top: 10%;">
            {% else %}
                <a href="{% url 'users_main' %}" class='item'>   
            {% endif %}
                    <div style="height: 3%;">

                    </div>
                    <span class="material-icons-outlined" style="color: white; display: flex; justify-content: center; align-items: center; font-size: 30px;">
                        admin_panel_settings
                        <p class='body--small'style="color: white; text-align: center; font-size: 20px;">Administrador</p>
                    </span>
                </a>
                <!--=== Fin Menú Admin ===-->
                <!--=== Menu inventario ===-->
            {% if template_name == 'inventario/inventario_main.html' %}
                <a href="{% url 'inventario_main' %}" class='item active'>
            {% else %}
                <a href="{% url 'inventario_main' %}" class='item'>
            {% endif %}
                      <span class="material-icons-outlined" style="color: white; display: flex; justify-content: center; margin-right: 53px;font-size: 30px;margin-top: 10%; ">
                        <i class="fa-solid fa-cart-flatbed"></i>
                        <p class='body--small'style="color: white; text-align: center;font-size: 30px;">Inventario</p>
                     </span>   
                </a>
            {% if template_name == 'proveedor/proveedor_main.html' %}
                <a href="{% url 'proveedor_main' %}" class='item active'>
            {% else %}
                <a href="{% url 'proveedor_main' %}" class='item'>
            {% endif %}

                     <span class="material-icons-outlined" style="color: white; display: flex; justify-content: center; margin-right: 53px; font-size: 30px;margin-top: 10%;">
                        <i class="fa-solid fa-person"></i>
                        <p class='body--small'style="color: white; text-align: center;font-size: 30px;">proveedor</p>

                    
                

                    </span>
                    
                </a>
            {% if template_name == 'venta/venta_main.html' %}
                <a href="{% url 'venta_main' %}" class='item active'>
            {% else %}
                <a href="{% url 'venta_main' %}" class='item'>
            {% endif %}

                     <span class="material-icons-outlined" style="color: white; display: flex; justify-content: center; margin-right: 116px; font-size: 30px;margin-top: 10%;">
                        <i class="fa-brands fa-bitcoin"></i>
                        <p class='body--small' style="color: white; text-align: center;font-size: 30px;">venta</p>
                     

                    </span>
                </a>
                <!--=== Fin Menú venta ===--> 
                <div class='side-bar-footer mb-5' style="color: white; display: flex; justify-content: center; align-items: center; font-size: 30px;margin-top: 220%;">
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        <button  class='button' type="submit">Cerrar Sesión</button>
                    </form>
                </div>
        </div>
    </nav>
    
    <div class='dashboard-container'>
        {% if messages %}
        <div class="alert alert-danger mt-3">
            {% for message in messages %}
            {{ message }}
            <h1>
                -
            </h1>

            {% endfor %}
        </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
    <script src="{% static 'node_modules/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
</body>

</html>
