{% extends 'core/base_admin.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <h3>Nuevo Producto</h3> 
                {% if profiles.group_id 1 ==  or profiles.group_id == 2 %}
                <form method="post" action="{% url 'categories_deactivate' category_data.id %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ category_data.id }}" name="category_id" id="category_id">
                    <div class="row"> 
                        <div class="col-12 col-sm-8 mb-3">
                            <label for="text">Nombre Categoria</label>
                            <a href="{% url 'inventario_main' %}" class="button button--gray form-control">Volver</a>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}
