{% extends 'core/base_admin.html' %}
{% load static %}
{% load mathfilters %}
{% block content %}
{% block extrahead %}

{% endblock %}
<header class='mb-5'>
    <div class="col-md-11" style="position: absolute; top: 10%; left: 15%; width: 100%; height: 60%;">
        <div class="col-12 col-sm-8 mb-3">
            <h2 class='h2 medium text-blue'>Gestión de productos</h2>

        </div>
    </div>
</header>
{% if profiles.group_id 1 ==  or profiles.group_id == 2 %}
<div class="col-md-11" style="position: absolute; top: 20%; left: 15%; width: 40%; height: 60%; border-radius: 90px;">
    <div class="position-relative h-100">
        <div class="my-auto d-flex justify-content-end align-items-center h-100">
            <div class="feedback body--small normal"></div>
            <div class="col-md-11" style="position: absolute; top: 3%; left: 150%; width: 70%; height: 60%; border-radius: 90px;">
                <a href="{% url 'producto_create' %}" class="button form-control">Nuevo Producto</a>
                <a href="{% url 'carga_masiva2' %}" class="button form-control"> <i class="fa-solid fa-folder"></i></a>
            </div>
        </div>
        <form method="post" action="" class='col-12 col-lg-6 input-container-search my-auto me-3;' style="border-radius: 90px;">
            {% csrf_token %}
            <input name="search" id="search" type="text" placeholder='Búsqueda Cod. Producto, Nombre, Estado'/>
            <button type="submit" class="button button--gray">
                <span class="material-icons-outlined">
                    search
                </span>
            </button>
        </form>
    </div>
</div>




<div class="col-md-11"style="position: absolute; top: 30%; left: 15%; width: 85%; height: 60%;">
    <table class="table table-user">
        <thead style="background-color: #3A1B78; color: #ffffff;">
            <tr>
                <th width="10%" scope="col">Nombre</th>
                <th width="5%" scope="col">Descripción</th>
                <th width="10%" scope="col">Stock</th>
                <th width="7%" scope="col">Precio $</th>
                <th width="5%" scope="col">Categoría</th>
                <th width="5%" scope="col">Estado</th>
                <th width="2%" scope="col">
                <i class="fas fa-cogs" title="Funciones"></i>
        </thead>
        <tbody>

            {% for p in producto_list %}
                <tr>
                    <th style="background-color: lightgray;" scope="row">{{ p.nombre_producto }}</th>
                    <th style="background-color: lightgray;"scope="row">{{ p.descripcion_producto }}</th>
                    <th style="background-color: lightgray;"scope="row">{{ p.stock_producto }}</th>
                    <th style="background-color: lightgray;"scope="row">{{ p.precio_producto }}</th> 
                    <th style="background-color: lightgray;"scope="row">{{ p.categoria_data }}</th> 
                    <th scope="row">
                        {% if p.stock_producto < p.stock_minimo_producto %}
                            <div style="background-color: red;border-radius: 90px;">
                                <a href="{% url 'producto_create3' p.id %}">
                                    Bajo
                                </a>
                            </div>
                        {% elif p.stock_maximo_producto < p.stock_producto  %}
                                <div style="background-color: green; border-radius: 90px;">
                                    Alto
                                </div>
                        {% else %}
                           <div style="background-color: yellow; border-radius: 90px;">
                                 Medio
                            </div>
                        {% endif %}
                    </th>   
                    <!-- acá debe ir logica y boton para el estado-->  
                            <th style="background-color: lightgray;"scope="row">
                                <a href="{% url 'producto_edit' p.id %}" title="Edita Producto">
                                    <i class="fas fa-edit"></i>
                                </a>
                                <a href="{% url 'producto_deactivate' p.id %}" title="Desactiva Producto">
                                    <i class="fas fa-ban"></i>
                                </a>
                            </th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
    <script>
        console.log(producto_list);
    </script>
    <!-- Paginación -->
    {% if paginator.num_pages > 1 %}
    <div class="d-flex">
        <nav aria-label="Page navigation example" class="ms-auto">
            <ul class="pagination pagination-table">
                {% if producto_list.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ producto_list.previous_page_number}}&search={{search}}"
                        aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">&laquo;</a>
                </li>
                {% endif %}
                {% for i in paginator.page_range %}
                {% if i >= page|sub:2 and i < page|add:3 %} <li
                    class="page-item {% if producto_list.number == i %}active{% endif %}">
                    <a class="page-link" href="?page={{ i }}&search={{search}}">{{ i }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    {% if producto_list.has_next %}
                    <li class="page-item ">
                        <a class="page-link"
                            href="?page={{ producto_list.next_page_number }}&search={{search}}">&raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">&raquo;</a>
                    </li>
                    {% endif %}
            </ul>
        </nav>
    </div>
    {% endif %}
    <!-- Paginación -->
    {% endblock %}