{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
                        <div class="col-md-11"style="position: absolute; top: 35%; left: 15%; width: 50%; height: 70%;">
                            <div class="col-12" style="margin-bottom: 25px;"></div>
                            <a href="{% url 'inventario_listado' %}" class="button form-control">Listado de productos Activos</a>
                        </div>
                        <div class="col-md-11" style="position: absolute; top: 30%; left: 50%; transform: translate(-50%, -50%); width: 50%; height: 5%; text-align: center;">
                            <i style="font-size: 250px; margin: auto;" class="fa-solid fa-bars-staggered"></i>
                            <div style="font-size: 100px;">Dashboard</div>
                        </div>
                        
                        
    </main>
{% endblock %}
