{% extends 'core/base_admin.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <form method="post" action="{% url 'producto_save'%}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ producto_data.id }}" name="producto_id" id="producto_id">
                    <div class="row"> 
                        <div class="col-12 col-sm-8 mb-3">
                            <label for="text">Nombre Producto</label>
                            <input type="text" name="nombre" value="{{producto_data.nombre_producto}}" />
                        </div>  
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Categoria</label>
                            <select name="category_group_id" id="category_group_id" class="form-control border" required>
                                <option value="">----------</option>
                                {% for g in category_groups %}
                                <option value="{{g.id}}" {% if g.id == category_datas.id %} selected {% endif %}>{{g.category_group_name}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>    
                    <div class="row">                       
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="precio" id="precio-label">Precio $</label>
                            <input type="number" class="form-control" id="precio-input" name="precio" value="{{producto_data.precio_producto}}" required/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="stock" id="stock-label">Unidades</label>
                            <input type="number" class="form-control" id="stock-input" name="stock" value="{{producto_data.stock_producto}}" required/>
                        </div>                        
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="stock_minimo" id="stock_minimo-label">Stock minimo producto</label>
                            <input type="number" class="form-control" id="stock_minimo-input" name="stock_minimo" value="{{producto_data.stock_minimo_producto}}" required/>
                        </div>                        
                    </div>
                    <div class="row"> 
                        <div class="col-12 col-sm-8 mb-3">
                            <label for="text">Stock Máximo producto (*)</label>
                            <input type="number" class="form-control border" id="stock_maximo" name="stock_maximo" value="{{producto_data.stock_maximo_producto}}" required/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Descripción producto</label>
                            <input type="text" class="form-control border" placeholder="Especificaciones" id="descripcion_producto" name="descripcion_producto" value="{{producto_data.descripcion_producto}}" required/>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-12 col-sm-6 mb-3">
                            <input type="submit" value="Crear Producto" class="button form-control">
                        </div>
                        <div class="col-12 col-sm-6 mb-3">
                            <a href="{% url 'inventario_main' %}" class="button button--gray form-control">Volver</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}
