{% extends 'core/base_admin.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <h3>Nuevo Producto</h3> 
                {% if profiles.group_id 1 ==  or profiles.group_id == 2 %}
                <form method="post" action="{% url 'producto_edit' producto_data.id %}">
                    {% csrf_token %}
                    <input type="hidden" value="{{ producto_data.id }}" name="producto_id" id="producto_id">
                    <div class="row"> 
                        <div class="col-12 col-sm-8 mb-3">
                            <label for="text">Nombre Producto</label>
                            <input type="text" name="nombre" value="{{producto_data.nombre_producto}}" placeholder="Nombre del producto" />
                        </div>  
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Categoria</label>
                            <select name="category_group_id" id="category_group_id" class="form-control border" required>
                                <option value="">----------</option>
                                {% for g in category_groups %}
                                <option value="{{g.id}}" {% if g.id == category_datas.id %} selected {% endif %}>{{g.category_group_name}}</option>
                                {% endfor %}
                            </select>
                        </div>  
                    </div>    
                    <div class="row">                       
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Precio $</label>
                            <input type="number" class="form-control border" id="precio" name="precio" value="{{producto_data.precio_producto}}" placeholder="$Valor del producto" required readonly/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Unidades</label>
                            <input type="number" class="form-control border" id="stock" name="stock" value="{{producto_data.stock_producto}}" placeholder="Cantidad" required readonly>
                        </div>                        
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Stock minimo producto</label>
                            <input type="number" class="form-control border" id="stock_minimo" name="stock_minimo" value="{{producto_data.stock_minimo_producto}}" placeholder="Stock minimo/" required readonly/>
                        </div>                        
                    </div>
                    <div class="row"> 
                        <div class="col-12 col-sm-8 mb-3">
                            <label for="text">Stock Máximo producto (*)</label>
                            <input type="number" class="form-control border" id="stock_maximo" name="stock_maximo" value="{{producto_data.stock_maximo_producto}}" placeholder="/Stock maximo"  required readonly/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Descripción producto</label>
                            <input type="text" class="form-control border" placeholder="Especificaciones" id="descripcion_producto" name="descripcion_producto" value="{{producto_data.descripcion_producto}}" required readonly/>
                        </div>
                    </div>
                    <div class="row"> 
                        <div class="col-12 col-sm-6 mb-3">
                            <input type="submit" value="Editar Producto" class="button form-control">
                        </div>
                        <div class="col-12 col-sm-6 mb-3">
                            <a href="{% url 'inventario_main' %}" class="button button--gray form-control">Volver</a>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </main>
{% endblock %}