{% extends 'core/base_admin.html' %}
{% load static %}

{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <h3>Nueva Dirrecion</h3> 
                {% if profiles.group_id == 1 or profiles.group_id == 3%}
                <form method="post" action="{% url 'direccion_save' id %}">
                    {% csrf_token %}
                    <div class="row">                       
                        <select name="region" id="region" class="form-control border" required>
                            <option value="">----------</option>
                            {% for r in regiones %}
                            <option value="{{r.id}}">{{r.nombre_region}}</option>
                            {% endfor %}
                        </select>
                        <select name="comuna" id="comuna" class="form-control border" required>
                            <option value="">----------</option>
                        </select>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Calle (*)</label>
                            <input type="text" class="form-control border" id="calle" name="calle" autofocus maxlength="254" required/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="number">numero (*)</label>
                            <input type="number" class="form-control border" id="numero" name="numero" autofocus maxlength="254" required/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Número Departamento (*)</label>
                            <input type="text" class="form-control border" id="departamento" name="departamento" autofocus maxlength="254" required/>
                        </div>
                        <div class="col-12 col-sm-4 mb-3">
                            <label for="text">Piso (*)</label>
                            <input type="text" class="form-control border" id="piso" name="piso" autofocus maxlength="254" required/>
                        </div>
                        
                        <div class="row"> 
                            <div class="col-12 col-sm-6 mb-3">
                                <input type="submit" value="Crear Dirrecion" class="button form-control">
                            </div>
                        
                            <div class="col-12 col-sm-6 mb-3">
                                <a href="{% url 'proveedor_main' %}" class="button button--gray form-control">Volver</a>
                            </div>
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function() {
                $('#region').change(function() {
                    var regionId = $(this).val();
                    if (regionId) {
                        $.ajax({
                            url: "{% url 'load_comunas' %}",
                            data: {
                                'region_id': regionId
                            },
                            success: function(data) {
                                $('#comuna').empty();
                                $('#comuna').append('<option value="">----------</option>');
                                $.each(data, function(key, value) {
                                    $('#comuna').append('<option value="' + value.id + '">' + value.nombre_comuna + '</option>');
                                });
                            }
                        });
                    } else {
                        $('#comuna').empty();
                        $('#comuna').append('<option value="">----------</option>');
                    }
                });
            });
        </script>
    </main>
{% endblock %}
