{% extends 'core/base_admin.html' %}
{% load static %}
{% block content %}
{% block extrahead %}

{% endblock %}
    <main role="main">
        <div class="container col-12 mt-3">
            <div class="col-12  mt-3">
                <h3>Gestión De proveedores </h3> 
                <div class="col-12" style="margin-bottom: 15px;"></div>               
                <div class="row mt-4 mb-4">
                    <a href="{% url 'proveedor_main2' %}" class="button button--gray form-control">Lista_proveedores</a>
                    <div class="col-12 col-sm-3 mb-3" style="margin-bottom: 25px;">

                </div>

                    <div class="col-12 col-sm-3 mb-3" style="margin-bottom: 25px;">
                <div class="row mt-4 mb-4">        
                    <a href="{% url 'proveedor_main3' %}" class="button button--gray form-control">Orden_de_compra</a>
                </div>   
                    
                </div>
            </div>
        </div>
    </main>
{% endblock %}
