{% load static %}
{% block title %}{% endblock %}
{% block content %}
<body style="background-color: #6E30E8;">
  3A1B78
  <header class='my-xxl-4 my-1 mb-5'>
    <div class="mb-3" style="background-color: #3A1B78; height: 65px; display: flex; align-items: center;">
        <div style="border-radius: 20px; overflow: hidden; display: inline-block;">
            <img src="{% static 'assets/img/logo.jpg' %}" class="img" width="75" height="65">
        </div>
        <span style="color: rgb(255, 255, 255); font-size: 30px;">Computech</span>
    </div>
    </div>

  </header>
  <main role="main">
    <div class="col-md-11" style="position: absolute; top: 20%; left: 10%; width: 80%; height: 50%; background-color: #3A1B78;border-radius: 50px;"> 
      <div class="container">
            <form action="" method="post">{% csrf_token %}
              <h3 class='h2 medium text-blue' style="top: 50%; left: 20%; ">Restablecer Contraseña</h3>
              <p>¿Ha olvidado su clave? Introduzca su dirección de correo a continuación y le enviaremos por correo electrónico las instrucciones para establecer una nueva.</p>
              {{ form.email.errors }}
              <p><input type="email" name="email" maxlength="254" required="" id="id_email" class="form-control" placeholder="Introduce tu email"/></p>
              <p><input type="submit" class="btn btn-primary btn-block" value="Confirmar"></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
{% endblock %}